# **Introducción a Pandas, MatPlotLib, Seaborn :**
#    **Dataframe: Demografia 2022**

*Preparado* por: Leandro González Támara <br>
Utilizando: <br>
![](https://www.python.org/static/community_logos/python-logo-generic.svg)

#***Pasos 1, 2, 3 y 4 para comenzar:*** <br>

In [1]:
# 2. Importar la libreria Pandas ;)
import pandas as pd

In [ ]:
# 3. Importar un archivo csv, si el delimitador es tabulación usar /t   si solo se quiere importar 2000 casos nrows=2000
# df=pd.read_csv('/content/drive/My Drive/Demografia2022/Demografia2022.csv', delimiter=';', encoding = 'unicode_escape' )

In [2]:
# 4. Importar un archivo de Excel (index_col=0 para escoger un columna predeterminada como index)
df=pd.read_excel("Demografia2022.xlsx", sheet_name="Demografia2022")

#***Pasos 5 a 11 para explorar el dataframe***

In [3]:
# 5. Ver las variables en el archivo
print(df.columns)

Index(['Country_name', 'TPopulation1Jan', 'TPopulation1July',
       'TPopulationMale1July', 'TPopulationFemale1July', 'PopDensity',
       'PopSexRatio', 'MedianAgePop', 'NatChange', 'NatChangeRT', 'PopChange',
       'PopGrowthRate', 'DoublingTime', 'Births', 'Births1519', 'CBR', 'TFR',
       'NRR', 'MAC', 'SRB', 'Deaths', 'DeathsMale', 'DeathsFemale', 'CDR',
       'LEx', 'LExMale', 'LExFemale', 'LE15', 'LE15Male', 'LE15Female', 'LE65',
       'LE65Male', 'LE65Female', 'LE80', 'LE80Male', 'LE80Female',
       'InfantDeaths', 'IMR', 'LBsurvivingAge1', 'Under5Deaths', 'Q5', 'Q0040',
       'Q0040Male', 'Q0040Female', 'Q0060', 'Q0060Male', 'Q0060Female',
       'Q1550', 'Q1550Male', 'Q1550Female', 'Q1560', 'Q1560Male',
       'Q1560Female', 'NetMigrations', 'CNMR', 'CCode', 'Region',
       'IncomeGroup', 'GDPpp2020', 'Country', 'Continent'],
      dtype='object')

In [4]:
# 6. Ver el tamaño del dataframe
df.shape
#df.shape[0]
#df.shape[1]

(237, 61)

In [5]:
# 7. Ver NULL
df.isnull().sum(axis = 0)

Country_name               0
TPopulation1Jan            0
TPopulation1July           0
TPopulationMale1July       0
TPopulationFemale1July     0
                          ..
Region                     0
IncomeGroup               23
GDPpp2020                 37
Country                    0
Continent                  0
Length: 61, dtype: int64

In [6]:
# 8. Ver el encabezado del dataframe
df.head()

,Country_name,TPopulation1Jan,TPopulation1July,TPopulationMale1July,TPopulationFemale1July,PopDensity,PopSexRatio,MedianAgePop,NatChange,NatChangeRT,...,Q1560Male,Q1560Female,NetMigrations,CNMR,CCode,Region,IncomeGroup,GDPpp2020,Country,Continent
0,Afghanistan,40580.490,41128.771,20766.442,20362.329,63.3436,101.9846,16.8702,1162.402,28.237,...,329.5630,203.0171,-65.846,-1.600,AFG,South Asia,Low income,2078.479082,Afghanistan,Asia
1,Albania,2847.853,2842.321,1417.813,1424.507,103.7419,99.5301,37.5806,-3.068,-1.078,...,118.0304,60.3632,-8.000,-2.810,ALB,Europe & Central Asia,Upper middle income,15646.041523,Albania,Europe
2,Algeria,44543.592,44903.225,22862.237,22040.987,18.8531,103.7260,28.0155,729.261,16.243,...,91.6019,63.7084,-9.999,-0.223,DZA,Middle East & North Africa,Lower middle income,12037.481235,Algeria,Africa
3,American Samoa,44.446,44.272,21.873,22.400,221.3625,97.6495,28.2539,0.454,10.153,...,173.9059,103.5929,-0.810,-18.130,ASM,East Asia & Pacific,Upper middle income,NaN,American Samoa,Asia
4,Andorra,79.688,79.824,40.786,39.038,169.8383,104.4777,42.9263,0.073,0.911,...,46.7542,28.6944,0.200,2.505,AND,Europe & Central Asia,High income,40897.330000,Andorra,Europe

In [7]:
# 9. Ver la finalización del dataframe
df.tail()

,Country_name,TPopulation1Jan,TPopulation1July,TPopulationMale1July,TPopulationFemale1July,PopDensity,PopSexRatio,MedianAgePop,NatChange,NatChangeRT,...,Q1560Male,Q1560Female,NetMigrations,CNMR,CCode,Region,IncomeGroup,GDPpp2020,Country,Continent
232,Wallis and Futuna Islands,11.613,11.572,5.552,6.021,82.6607,92.2183,36.2699,0.058,4.974,...,66.5377,62.1912,-0.136,-11.680,WLF,East Asia & Pacific,NaN,NaN,Wallis and Futuna Islands,Oceania
233,Western Sahara,570.311,575.986,317.891,258.094,2.1654,123.1685,31.2718,5.746,10.026,...,166.2455,119.5720,5.600,9.770,ESH,Sub-Saharan Africa,Low income,NaN,Western Sahara,Africa
234,"Yemen, Rep.",33322.321,33696.614,17023.203,16673.411,63.8230,102.0979,18.8385,778.579,23.095,...,296.0545,171.0778,-29.998,-0.890,YEM,Middle East & North Africa,Low income,3688.519409,Yemen,Asia
235,Zambia,19745.738,20017.675,9877.642,10140.033,26.9276,97.4123,17.0874,548.867,27.411,...,359.5575,242.3784,-5.000,-0.250,ZMB,Sub-Saharan Africa,Low income,3623.854913,Zambia,Africa
236,Zimbabwe,16152.942,16320.537,7705.602,8614.936,42.1883,89.4447,18.2356,345.195,21.143,...,449.3632,325.3865,-9.999,-0.612,ZWE,Sub-Saharan Africa,Lower middle income,2444.478237,Zimbabwe,Africa

In [8]:
# 10. Ver un casos del df
df.iloc[100:110]

,Country_name,TPopulation1Jan,TPopulation1July,TPopulationMale1July,TPopulationFemale1July,PopDensity,PopSexRatio,MedianAgePop,NatChange,NatChangeRT,...,Q1560Male,Q1560Female,NetMigrations,CNMR,CCode,Region,IncomeGroup,GDPpp2020,Country,Continent
100,Isle of Man,84.434,84.519,41.859,42.660,147.7614,98.1235,45.4210,-0.158,-1.877,...,82.0652,52.2210,0.340,4.030,IMN,Europe & Central Asia,High income,NaN,Isle of Man,Europe
101,Israel,8970.733,9038.309,4508.098,4530.212,417.6089,99.5119,29.0905,125.154,13.855,...,67.2107,34.4114,9.999,1.107,ISR,Middle East & North Africa,High income,43721.623039,Israel,Asia
102,Italy,59119.400,59037.474,28788.875,30248.598,199.4678,95.1742,47.2653,-222.349,-3.768,...,56.2494,32.7781,58.496,0.991,ITA,Europe & Central Asia,High income,45935.996554,Italy,Europe
103,Jamaica,2828.991,2827.377,1402.379,1424.998,261.0690,98.4126,31.2957,7.773,2.744,...,211.6839,141.6682,-10.999,-3.883,JAM,Latin America & Caribbean,Upper middle income,10025.904795,Jamaica,America
104,Japan,124278.310,123951.692,60239.861,63711.831,328.9379,94.5505,48.7449,-753.228,-6.079,...,62.3703,33.4175,99.994,0.807,JPN,East Asia & Pacific,High income,42940.405252,Japan,Asia
105,Jersey,110.273,110.778,54.682,56.096,954.9871,97.4785,39.9244,0.207,1.870,...,64.6759,40.3982,0.800,7.247,JEY,Europe & Central Asia,NaN,NaN,Jersey,Europe
106,Jordan,11256.190,11285.868,5846.915,5438.953,127.1017,107.5007,23.7162,200.547,17.659,...,125.8263,79.8405,-141.192,-12.432,JOR,Middle East & North Africa,Upper middle income,10952.010609,Jordan,Asia
107,Kazakhstan,19295.502,19397.998,9335.100,10062.898,7.1852,92.7675,29.5377,204.996,10.570,...,268.8189,125.8188,0.000,0.000,KAZ,Europe & Central Asia,Upper middle income,28599.985878,Kazakhstan,Europe
108,Kenya,53499.879,54027.487,26777.549,27249.938,93.0341,98.2665,19.3816,1065.212,19.710,...,407.9282,301.5383,-10.000,-0.185,KEN,Sub-Saharan Africa,Lower middle income,5023.511272,Kenya,Africa
109,Kiribati,130.077,131.232,63.943,67.289,180.7596,95.0267,22.0339,2.699,20.541,...,209.4785,159.9510,-0.400,-3.043,KIR,East Asia & Pacific,Lower middle income,2171.867943,Kiribati,Oceania

In [9]:
# 11. Ordenar la base de datos por variables ascendente o descendente
#df.sort_values(by=['Births'],ascending=False).head() # Ordena todo el df
df[['Country','Continent','Births']].sort_values(by=['Births'],ascending=False).head(10) # Selecciona unas variables y ordena

                                Country Continent     Births
95                                India      Asia  23056.027
42                                China      Asia  10757.794
154                             Nigeria    Africa   8002.758
160                            Pakistan      Asia   6424.944
96                            Indonesia      Asia   4462.212
45   Congo, The Democratic Republic of     Africa   4133.987
66                             Ethiopia    Africa   3928.445
224                       United States   America   3726.867
16                           Bangladesh      Asia   2994.966
28                               Brazil   America   2723.266

### **Ejercicio 1:**<br>
Ordenar la base de datos de menor a mayor por 'IMR' solo seleccionar la variables Country, Region e IMR

In [10]:
# Solución:
df[['Country', 'Region', 'IMR']].sort_values(by=['IMR'], ascending=True)

                      Country                 Region      IMR
141                Montenegro  Europe & Central Asia   1.2045
92                  Hong Kong    East Asia & Pacific   1.3795
94                    Iceland  Europe & Central Asia   1.4157
193                  Slovenia  Europe & Central Asia   1.4177
70                    Finland  Europe & Central Asia   1.6280
..                        ...                    ...      ...
195                   Somalia     Sub-Saharan Africa  66.1650
39   Central African Republic     Sub-Saharan Africa  67.6984
118                   Lesotho     Sub-Saharan Africa  69.0136
189              Sierra Leone     Sub-Saharan Africa  69.9620
154                   Nigeria     Sub-Saharan Africa  71.8710

[237 rows x 3 columns]

#***Paso 12 para filtrar por variables o por casos***

In [11]:
# 12. Filtro por variables
df[['Country', 'GDPpp2020','IMR']].sort_values(by=['IMR'], ascending=True).tail(3)

          Country    GDPpp2020      IMR
118       Lesotho  2682.235528  69.0136
189  Sierra Leone  1816.170271  69.9620
154       Nigeria  5459.158598  71.8710

In [12]:
# 12.1 para filtrar por texto en columna
df[df['Country'].str.contains('olo')]

,Country_name,TPopulation1Jan,TPopulation1July,TPopulationMale1July,TPopulationFemale1July,PopDensity,PopSexRatio,MedianAgePop,NatChange,NatChangeRT,...,Q1560Male,Q1560Female,NetMigrations,CNMR,CCode,Region,IncomeGroup,GDPpp2020,Country,Continent
43,Colombia,51788.827,51874.024,25575.607,26298.417,46.1641,97.2515,31.1710,338.317,6.512,...,195.5519,101.5067,-167.924,-3.232,COL,Latin America & Caribbean,Upper middle income,16893.817185,Colombia,America
194,Solomon Islands,716.218,724.272,369.900,354.373,25.1518,104.3814,19.3731,17.717,24.434,...,182.7229,140.5665,-1.600,-2.206,SLB,East Asia & Pacific,Lower middle income,2656.100603,Solomon Islands,Oceania

### **Ejercicio 2:**<br>
Filtrar la base de datos por 'Country' y por 'IMR' y decir el top 5 de países según tasa de mortalidad infantil

In [13]:
# Solución:
df[['Country', 'IMR']].sort_values(by=['IMR'], ascending=False).head(5)

                      Country      IMR
154                   Nigeria  71.8710
189              Sierra Leone  69.9620
118                   Lesotho  69.0136
39   Central African Republic  67.6984
195                   Somalia  66.1650

### **Ejercicio 3:**<br>
Decir el top 5 de países según tasa de mortalidad infantil en Latin America & Caribbean

In [14]:
# Solución
df[(df['Region'] == 'Latin America & Caribbean')].sort_values(by=['IMR'], ascending=False)[['Country', 'IMR']].head(5)

               Country      IMR
90               Haiti  43.3752
24             Bolivia  24.9386
58  Dominican Republic  24.3508
89              Guyana  23.5595
85           Guatemala  19.8249

### **Ejercicio 4:**<br>
Filtrar los datos de Colombia

In [15]:
#Solución
df[df['Country'] == 'Colombia']['IMR']

43    10.886
Name: IMR, dtype: float64

#***Pasos 13 y 14 para hacer consultas básicas***

In [16]:
# 13.Tabular una variable cualitativa (frecuencias absolutas)
pd.value_counts(df['IncomeGroup'])

/tmp/ipykernel_108334/2798186124.py:2: FutureWarning: pandas.value_counts is deprecated and will be removed in a future version. Use pd.Series(obj).value_counts() instead.
  pd.value_counts(df['IncomeGroup'])

IncomeGroup
High income            78
Upper middle income    54
Lower middle income    53
Low income             29
Name: count, dtype: int64

### **Ejercicio 5:**<br>
Tabular la variable 'Region':

In [17]:
# Solución:
df['Region'].value_counts()

Region
Europe & Central Asia              60
Sub-Saharan Africa                 52
Latin America & Caribbean          50
East Asia & Pacific                42
Middle East & North Africa         20
South Asia                          8
North America                       4
Middle East and Northern Africa     1
Name: count, dtype: int64

### **Ejercicio 6:**<br>
Tabular la variable Region en América:

In [35]:
# Solución:
df[(df['Region'] == 'North America') | (df['Region'] == 'Latin America & Caribbean')].value_counts()

Country_name              TPopulation1Jan  TPopulation1July  TPopulationMale1July  TPopulationFemale1July  PopDensity  PopSexRatio  MedianAgePop  NatChange  NatChangeRT  PopChange  PopGrowthRate  DoublingTime  Births    Births1519  CBR     TFR     NRR     MAC     SRB    Deaths   DeathsMale  DeathsFemale  CDR    LEx      LExMale  LExFemale  LE15     LE15Male  LE15Female  LE65     LE65Male  LE65Female  LE80     LE80Male  LE80Female  InfantDeaths  IMR      LBsurvivingAge1  Under5Deaths  Q5       Q0040     Q0040Male  Q0040Female  Q0060     Q0060Male  Q0060Female  Q1550     Q1550Male  Q1550Female  Q1560     Q1560Male  Q1560Female  NetMigrations  CNMR     CCode  Region                     IncomeGroup          GDPpp2020     Country                   Continent
Antigua and Barbuda       93.488           93.763            44.782                48.981                  213.0977    91.4273      35.0890       0.553      5.890        0.550      0.587          118.0830      1.124     0.101       11.984  1.5801  0.7694  28.052  103.2  0.571    0.293       0.278         6.094  79.2361  76.5065  81.6454    64.8136  62.1165   67.1826     18.7000  16.8317   20.1920     8.9639   7.7374    9.7562      0.006         4.9533   1.119            0.007         6.1276   22.3466   28.4763    16.2641      88.4138   112.2292   67.0361      31.5481   41.6180    22.0019      81.5653   104.9126   60.7274       0.000          0.000   ATG    Latin America & Caribbean  High income          19837.650142  Antigua and Barbuda       America      1
Guyana                    806.572          808.726           395.982               412.743                 4.1083      95.9390      25.7127       8.216      10.135       4.307      0.533          130.0464      16.129    2.313       19.897  2.3692  1.1122  27.288  103.7  7.913    4.418       3.495         9.762  65.9885  62.7784  69.3994    53.1050  50.0448   56.3373     12.8709  11.3381   14.3107     6.4615   5.6303    7.0851      0.381         23.5595  15.790           0.465         28.7572  89.3255   108.1701   70.9652      290.3495  355.0967   225.4025     127.7621  162.4887   94.6800      267.0740  331.2498   203.3131     -3.900         -4.811   GUY    Latin America & Caribbean  Upper middle income  24493.714070  Guyana                    America      1
Turks and Caicos Islands  45.529           45.702            23.006                22.696                  48.1079     101.3636     37.7102       0.148      3.230        0.347      0.759          91.3237       0.560     0.022       12.270  1.6576  0.7945  30.714  104.9  0.412    0.231       0.181         9.040  74.9252  72.1651  77.9863    61.1030  58.6006   63.8803     15.5835  13.9076   17.2980     6.7024   5.9084    7.3921      0.006         11.3894  0.554            0.008         13.6390  34.3300   44.7970    23.7771      120.9629  151.2381   88.0371      43.1393   54.2449    31.1548      106.7923  133.8915   77.3317       0.200          4.386   TCA    Latin America & Caribbean  High income          23390.473672  Turks and Caicos Islands  America      1
Suriname                  615.644          618.040           307.625               310.416                 3.9618      99.1010      28.0497       5.781      9.346        4.793      0.776          89.3231       11.123    1.499       17.983  2.3217  1.1048  27.872  104.0  5.342    2.952       2.391         8.637  70.2891  67.1890  73.5769    56.7194  53.7155   59.8931     14.5219  12.5433   16.2509     6.9588   5.8106    7.7599      0.179         16.1175  10.965           0.201         18.0443  59.4147   70.2716    48.0500      218.1030  264.6324   168.1987     90.0551   110.3424   68.6506      201.8363  247.5468   152.9870     -1.000         -1.617   SUR    Latin America & Caribbean  Upper middle income  16675.638383  Suriname                  America      1
Peru                      33911.712        34049.588         16857.086             17192.503               26.5995     98.0490      28.4460       336.401    9.871        275.753    0.810          85.5737       592.156   81.305      17.376  2.1637  1.0332  28.298  104.1  255.755  137.326     118.429       7.505  73.3853  71.3318  75.4954    59.5126  57.4950   61.5810     15.9848  14.9882   16.9378     6.6542   6.2109    7.0319      5.750         9.7046   587.155          7.176         12.1127  50.3383   61.5470    39.2876      169.3026  200.7716   137.2994     74.1550   92.3359    56.0817      156.0264  187.2031   124.4025     -60.652        -1.780   PER    Latin America & Caribbean  Upper middle income  13895.275816  Peru                      America      1
Paraguay                  6743.247         6780.744          3402.132              3378.612                16.7648     100.6961     25.8983       87.489     12.891       74.994     1.106          62.6715       137.960   20.516      20.328  2.4440  1.1564  27.923  105.0  50.471   28.468      22.003        7.437  70.4745  67.6452  73.5714    57.0391  54.3121   60.0165     14.2264  12.8394   15.6377     6.4508   5.7532    7.0486      2.258         16.3578  135.965          2.692         19.4919  59.7978   74.5218    44.3736      203.3646  250.4983   154.4274     83.2077   106.4233   58.9744      185.2253  231.5265   137.4213     -12.499        -1.842   PRY    Latin America & Caribbean  Upper middle income  13975.858227  Paraguay                  America      1
Panama                    4379.282         4408.580          2204.410              2204.170                59.4333     100.0109     29.0813       50.633     11.496       58.597     1.329          52.1555       76.637    12.082      17.400  2.2972  1.0900  27.022  105.5  26.004   14.753      11.250        5.904  76.8262  73.7259  80.0907    63.3464  60.3785   66.4538     19.0283  17.4633   20.5181     9.5048   8.6141    10.2274     0.975         12.7112  75.783           1.285         16.7210  57.4748   76.2578    37.8245      136.3575  173.2128   97.9487      64.5033   87.4479    40.6571      118.7512  154.0666   82.1820       7.967          1.809   PAN    Latin America & Caribbean  High income          31680.186011  Panama                    America      1
Nicaragua                 6898.994         6948.392          3423.787              3524.605                57.7397     97.1396      24.8934       106.805    15.363       98.796     1.422          48.7445       139.164   26.977      20.018  2.2840  1.0974  26.636  103.5  32.359   18.113      14.246        4.655  74.6150  71.6129  77.5564    60.8968  58.0148   63.6968     16.6638  15.3184   17.7935     6.8536   6.1853    7.3171      1.709         12.2711  137.669          2.047         14.6641  51.3554   68.6395    34.0289      150.4362  196.3448   105.1498     68.5804   96.6476    41.0256      135.4447  180.1833   91.6302      -8.000         -1.151   NIC    Latin America & Caribbean  Lower middle income  6331.672499   Nicaragua                 America      1
Mexico                    127024.134       127504.125        62194.954             65309.171               65.0781     95.2316      29.3867       1011.377   7.931        959.983    0.753          92.0514       1866.399  288.302     14.636  1.8029  0.8658  26.972  103.9  855.022  480.241     374.782       6.705  74.8315  71.5475  78.1613    60.9760  57.7758   64.2047     17.4030  16.1585   18.5537     8.0726   7.4101    8.6257      20.340        10.8873  1848.667         24.240        12.8809  56.0969   79.6130    32.7837      158.5056  210.9098   106.8465     76.6216   112.1958   41.7728      145.2564  196.9388   94.5937      -51.399        -0.403   MEX    Latin America & Caribbean  Upper middle income  20036.455388  Mexico                    America      1
Honduras                  10354.955        10432.860         5267.354              5165.506                95.6494     101.9717     23.7777       161.194    15.446       155.809    1.493          46.4265       217.590   37.198      20.850  2.3403  1.1112  27.202  105.1  56.396   31.483      24.913        5.404  70.7277  68.4614  73.1568    57.0309  54.8566   59.3546     13.3957  12.0311   14.7636     5.7085   5.0628    6.1827      2.775         12.7628  215.156          3.340         15.3912  50.5430   59.0730    41.5884      182.5498  215.1928   149.6639     71.9485   84.7404    58.6686      166.9990  198.6704   135.2948     -5.374         -0.515   HND    Latin America & Caribbean  Lower middle income  6252.569135   Honduras                  America      1
Haiti                     11516.043        11584.996         5738.710              5846.286                420.2182    98.1599      23.2466       170.149    14.666       137.905    1.190          58.2477       268.523   29.646      23.146  2.7726  1.2491  29.489  103.0  98.374   54.048      44.326        8.480  63.7283  60.8921  66.6955    53.2853  50.7930   55.8563     12.3030  11.2325   13.2357     5.1791   4.7210    5.4908      11.649        43.3752  258.823          15.220        56.6748  132.5649  155.5182   108.9071     293.6348  346.4409   238.5848     126.1831  154.8243   96.9583      241.1851  291.5716   189.4977     -32.248        -2.780   HTI    Latin America & Caribbean  Lower middle income  3127.415571   Haiti                     America      1
Guatemala                 17722.702        17843.908         8830.909              9012.999                166.5165    97.9797      22.4178       251.554    14.094       242.412    1.359          51.0042       372.335   58.796      20.861  2.3536  1.1104  27.854  103.9  120.781  67.174      53.607        6.767  68.6735  65.6969  71.7543    55.5549  52.6454   58.5520     14.3591  13.0652   15.6294     6.9157   6.1331    7.6402      7.381         19.8249  365.758          8.926         23.8328  78.6266   99.0776    57.5399      246.7591  301.3199   193.9565     111.4698  146.3215   76.5494      225.5693  280.0288   173.2300     -9.128         -0.511   GTM    Latin America & Caribbean  Upper middle income  9769.238227   Guatemala                 America      1
Argentina                 45389.937        45510.318         22530.617             22979.701               16.3014     98.0457      31.5665       236.876    5.205        240.762    0.529          131.0297      627.741   64.435      13.794  1.8755  0.8976  28.802  105.1  390.865  203.278     187.588       8.589  76.0636  72.8506  79.2770    61.9611  58.7688   65.1451     17.0233  14.6036   19.1530     8.4786   6.7526    9.5623      5.542         8.8252   622.930          6.486         10.2723  36.1137   44.1826    27.6374      124.5536  153.3865   94.9372      50.6701   63.5283    37.2759      113.9576  142.4238   84.7869       3.886          0.085   ARG    Latin America & Caribbean  Upper middle income  23627.394294  Argentina                 America      1
Grenada                   125.053          125.438           62.721                62.717                  368.9338    100.0072     31.2258       0.963      7.674        0.769      0.613          113.0746      1.960     0.139       15.616  1.9862  0.9532  29.056  104.0  0.997    0.540       0.457         7.942  75.3355  72.5882  78.2976    61.5787  58.8904   64.4727     17.1107  15.3646   18.7888     8.0687   7.0908    8.7526      0.024         12.2868  1.939            0.030         15.0375  36.4241   42.3127    30.3929      140.5287  173.6004   105.3788     50.7763   63.0406    37.9040      126.0721  158.4585   91.7257      -0.200         -1.593   GRD    Latin America & Caribbean  Upper middle income  16680.415072  Grenada                   America      1
Ecuador                   17905.446        18001.000         8984.602              9016.398                72.4795     99.6474      27.9257       211.316    11.733       191.108    1.062          65.2681       298.666   47.741      16.583  2.0034  0.9577  27.441  104.7  87.350   47.874      39.476        4.850  77.8942  75.3130  80.4808    64.1329  61.6784   66.5735     19.0788  17.7471   20.2564     8.6904   7.8307    9.3339      3.194         10.6901  295.881          3.788         12.6608  48.7226   64.4421    32.3825      118.6771  147.9939   88.4975      56.3641   75.7539    36.3885      104.1780  131.9998   75.7057      -20.206        -1.122   ECU    Latin America & Caribbean  Upper middle income  11661.193168  Ecuador                   America      1
Dominican Republic        11175.767        11228.821         5634.261              5594.560                232.4278    100.7097     27.4260       135.404    12.043       106.108    0.945          73.3489       203.625   30.062      18.111  2.2474  1.0598  26.861  104.4  68.221   39.171      29.050        6.068  74.1704  71.0444  77.5363    61.5833  58.6120   64.7686     17.9437  16.4387   19.4079     9.0600   8.3458    9.6109      4.963         24.3508  199.209          6.168         30.1900  70.3211   88.3135    51.4979      169.2823  211.2774   124.7345     75.6410   100.1363   49.9501      141.8804  182.3376   99.2097      -29.294        -2.606   DOM    Latin America & Caribbean  Upper middle income  20769.180820  Dominican Republic        America      1
Costa Rica                5167.063         5180.829          2590.710              2590.119                101.4655    100.0228     33.3359       23.683     4.573        27.532     0.531          130.5362      60.517    6.422       11.686  1.5225  0.7346  28.010  104.5  36.834   20.494      16.340        7.113  77.3202  74.7618  80.0359    63.0357  60.5062   65.7176     17.4306  16.0692   18.7758     7.2181   6.4185    7.9063      0.415         6.8449   60.159           0.489         7.9980   32.6262   44.3145    20.3636      106.6152  138.8489   73.2551      47.1520   65.8038    27.7282      98.1205   130.0162   65.1669       3.850          0.743   CRI    Latin America & Caribbean  Upper middle income  23387.132225  Costa Rica                America      1
Cayman Islands            68.393           68.706            34.669                34.036                  285.0851    101.8583     37.6937       0.219      3.203        0.625      0.910          76.1700       0.669     0.013       9.767   1.2158  0.5852  30.999  103.6  0.450    0.259       0.191         6.564  75.5549  73.2342  78.1236    61.3677  59.1645   63.8070     16.4234  14.8170   18.1059     7.3506   6.5328    8.0142      0.005         7.3359   0.665            0.006         8.7566   35.4818   41.3143    29.2770      128.0069  150.1450   104.1526     52.5812   60.2984    44.2902      118.2994  139.0027   96.0111       0.400          5.839   CYM    Latin America & Caribbean  High income          72481.013856  Cayman Islands            America      1
Canada                    38290.846        38454.327         19110.317             19344.011               4.2288      98.7919      40.3812       78.376     2.044        326.962    0.850          81.5467       376.188   6.648       9.814   1.4663  0.7064  31.184  105.4  297.812  152.829     144.982       7.770  82.8471  80.8678  84.7966    68.2862  66.3218   70.2181     21.4370  20.0721   22.6856     10.2833  9.3644    11.0075     1.481         3.9355   374.917          1.726         4.5841   20.3077   25.5343    14.7982      66.6995   81.3975    51.6566      28.6242   36.6855    20.3142      61.6297   76.1089    46.8295       248.586        6.485   CAN    North America              High income          52085.035685  Canada                    America      1
Bolivia                   12148.966        12224.110         6126.364              6097.746                11.2842     100.4693     24.1340       153.283    12.537       150.288    1.229          56.3993       264.070   36.767      21.599  2.5839  1.1997  28.321  104.2  110.787  61.892      48.895        9.062  64.9284  62.2646  67.9072    52.5224  49.9274   55.4218     10.9595  9.5638    12.3130     4.7536   4.1874    5.1571      6.586         24.9386  258.219          8.746         33.1804  86.4845   99.8881    72.5228      277.6776  331.7408   220.0180     108.4021  131.5683   84.3645      247.8066  302.0574   190.2223     -3.000         -0.245   BOL    Latin America & Caribbean  Lower middle income  9030.387681   Bolivia                   America      1
Belize                    402.647          405.272           203.747               201.525                 17.7673     101.1023     25.5571       4.661      11.510       5.251      1.296          53.4836       7.193     1.083       17.763  1.9891  0.9467  27.191  105.2  2.532    1.549       0.984         6.253  70.9624  67.7210  74.6853    57.0078  53.8253   60.6616     15.3018  14.0934   16.6839     7.0817   6.3457    7.8541      0.072         10.0752  7.130            0.087         12.0420  68.5126   93.4334    42.6217      216.9531  274.2007   155.9160     101.6341  140.0483   61.8954      204.9968  261.8774   144.5382      0.600          1.481   BLZ    Latin America & Caribbean  Upper middle income  6921.450076   Belize                    America      1
Bahamas, The              408.647          409.984           195.817               214.167                 76.5181     91.4324      32.7911       1.671      4.081        2.674      0.652          106.3109      4.659     0.417       11.379  1.3803  0.6651  28.545  102.8  2.988    1.654       1.334         7.298  74.3579  70.7571  77.8432    60.4072  56.8589   63.8251     17.7505  15.9097   19.2854     8.7853   7.6261    9.5579      0.047         10.1090  4.618            0.055         11.9007  59.1438   78.5069    40.5691      181.0284  231.9227   132.1909     89.9120   119.9577   61.4616      169.1312  219.5729   120.9570      1.000          2.442   BHS    Latin America & Caribbean  High income          34107.849831  Bahamas                   America      1
Venezuela                 28047.658        28301.696         13996.792             14304.904               30.8820     97.8461      28.2287       210.364    7.473        508.075    1.795          38.6154       438.384   105.109     15.573  2.1880  1.0358  26.333  105.3  228.020  130.349     97.671        8.100  71.1049  66.8747  75.6546    57.5904  53.4349   62.0399     15.4125  13.6726   16.9294     6.1850   5.3513    6.7339      6.479         14.7606  432.686          7.781         17.5455  86.7654   125.1846   44.8666      195.8563  260.4757   126.8420     103.7213  150.6894   53.2621      178.5188  242.5973   110.4133      297.713        10.576  VEN    Latin America & Caribbean  Upper middle income  16055.650000  Venezuela                 America      1
Name: count, dtype: int64

### **Ejercicio 7:**<br>
Hacer una lista con todos los países de América que tienen un ingreso per cápita menor a 10.000 dólares

In [36]:
# Solución:
df[(df['Continent'] == 'America') & (df['GDPpp2020'] < 10000)][['Country','GDPpp2020']]

         Country    GDPpp2020
20        Belize  6921.450076
24       Bolivia  9030.387681
51          Cuba  9099.670000
61   El Salvador  9668.727256
85     Guatemala  9769.238227
90         Haiti  3127.415571
91      Honduras  6252.569135
152    Nicaragua  6331.672499

In [37]:
# 14. Tabular una variable cualitativa (frecuencia absolura o relativa: True or False)
df['Continent'].value_counts(normalize=True).round(3)*100

Continent
Africa     26.2
Europe     25.3
America    22.8
Asia       17.3
Oceania     8.4
Name: proportion, dtype: float64

### **Ejercicio 8:**<br>
Determinar el porcentaje de paises por nivel de ingreso per cápita ('IncomeGroup')

In [38]:
df.sort_values(by=['IncomeGroup'])[['Country', 'IncomeGroup']]

                              Country  IncomeGroup
68                      Faroe Islands  High income
92                          Hong Kong  High income
169                       Puerto Rico  High income
170                             Qatar  High income
172                           Romania  High income
..                                ...          ...
181  Saint Vincent and the Grenadines          NaN
200                State of Palestine          NaN
211                           Tokelau          NaN
229                           Vatican          NaN
232         Wallis and Futuna Islands          NaN

[237 rows x 2 columns]

#***Pasos 15 a 19 para hacer estadísticas básicas***

In [39]:
# 14.1 Descriptivas de todas las variables cuantitativas
df.describe()

,TPopulation1Jan,TPopulation1July,TPopulationMale1July,TPopulationFemale1July,PopDensity,PopSexRatio,MedianAgePop,NatChange,NatChangeRT,PopChange,...,Q0060Female,Q1550,Q1550Male,Q1550Female,Q1560,Q1560Male,Q1560Female,NetMigrations,CNMR,GDPpp2020
count,2.370000e+02,2.370000e+02,237.000000,237.000000,237.000000,237.000000,237.000000,237.000000,237.000000,237.000000,...,237.000000,237.000000,237.000000,237.000000,237.000000,237.000000,237.000000,237.000000,237.000000,200.000000
mean,3.350911e+04,3.365023e+04,16913.837992,16736.394713,467.641576,100.682988,31.218075,282.251262,9.128911,282.251810,...,137.807725,76.014505,93.145257,58.493290,153.198451,187.776845,117.852030,0.000004,1.028595,23168.637570
std,1.356770e+05,1.359462e+05,69553.380076,66405.728034,2237.543396,16.388154,9.679166,917.226484,10.721169,1028.234887,...,100.986470,58.220800,66.569013,51.360045,93.278326,106.034052,83.280749,507.854509,17.528073,23917.155041
min,5.080000e-01,5.100000e-01,0.246000,0.265000,0.137600,81.683600,14.485800,-980.855000,-15.366000,-7264.930000,...,23.155200,9.091100,10.192000,8.040400,23.648600,28.959300,18.463900,-6673.580000,-155.070000,683.593750
25%,4.026470e+02,4.052720e+02,195.817000,214.167000,39.248900,95.847700,22.417800,0.131000,1.181000,0.198000,...,59.534800,31.548100,41.388300,21.269500,79.637800,104.067700,52.886700,-8.000000,-1.507000,5067.712346
50%,5.439435e+03,5.489740e+03,2742.094000,2790.791000,96.983300,98.534800,31.566500,13.216000,7.674000,23.025000,...,103.790100,61.094600,77.855900,40.657100,134.241000,173.268100,90.978400,-0.200000,-0.172000,14959.761950
75%,2.179988e+04,2.212525e+04,11078.628000,11186.771000,239.582100,101.309600,39.206700,204.996000,16.139000,242.412000,...,191.449500,101.846900,130.721800,74.789200,209.480800,256.368900,167.534400,1.000000,1.005000,34164.324185
max,1.425925e+06,1.425887e+06,731180.498000,698243.300000,24475.838900,263.768400,57.531200,10194.012000,37.195000,9706.711000,...,484.501600,311.143400,352.523900,264.994700,492.033900,561.016500,430.904700,3366.387000,152.203000,134753.797686

In [40]:
# 14.2 Crear una variable a partir de una fórmula
df['PIB']=df['GDPpp2020']*df['TPopulation1July']

In [41]:
# Cambiar el formato a moneda de una variable, por ejemplo al PIB del mundo 2020
suma = df['PIB'].sum()*1000

# Ponerle formato de separador de miles a la suma
suma_formato_miles = '{:,.0f}'.format(suma)

# PIB con el formato de miles
print("PIB mundial 2020:", suma_formato_miles)

PIB mundial 2020: 147,897,689,278,685

In [42]:
# Cambiar a formato de moneda de las descriptivas
descriptivas=df.describe()  #applymap('{:,.0f}'.format)
formato = descriptivas.applymap('{:,.0f}'.format)
print(formato)

      TPopulation1Jan TPopulation1July TPopulationMale1July  \
count             237              237                  237
mean           33,509           33,650               16,914
std           135,677          135,946               69,553
min                 1                1                    0
25%               403              405                  196
50%             5,439            5,490                2,742
75%            21,800           22,125               11,079
max         1,425,925        1,425,887              731,180

      TPopulationFemale1July PopDensity PopSexRatio MedianAgePop NatChange  \
count                    237        237         237          237       237
mean                  16,736        468         101           31       282
std                   66,406      2,238          16           10       917
min                        0          0          82           14      -981
25%                      214         39          96           22         0
50%                    2,791         97          99           32        13
75%                   11,187        240         101           39       205
max                  698,243     24,476         264           58    10,194

      NatChangeRT PopChange  ... Q1550 Q1550Male Q1550Female Q1560 Q1560Male  \
count         237       237  ...   237       237         237   237       237
mean            9       282  ...    76        93          58   153       188
std            11     1,028  ...    58        67          51    93       106
min           -15    -7,265  ...     9        10           8    24        29
25%             1         0  ...    32        41          21    80       104
50%             8        23  ...    61        78          41   134       173
75%            16       242  ...   102       131          75   209       256
max            37     9,707  ...   311       353         265   492       561

      Q1560Female NetMigrations  CNMR GDPpp2020             PIB
count         237           237   237       200             200
mean          118             0     1    23,169     739,488,446
std            83           508    18    23,917   2,745,408,927
min            18        -6,674  -155       684          57,493
25%            53            -8    -2     5,068      21,400,472
50%            91            -0    -0    14,960      84,886,569
75%           168             1     1    34,164     436,404,094
max           431         3,366   152   134,754  27,574,143,101

[8 rows x 56 columns]

/tmp/ipykernel_71314/586246951.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  formato = descriptivas.applymap('{:,.0f}'.format)

In [45]:
# 14.3 Descriptivas de variables cuantitativas con formato de miles
descriptivas = df[['TPopulation1July','PIB','GDPpp2020','IMR','CBR']].describe()
# Formatear la salida con el separador de miles, nota .3f da el número de decimales
formato = descriptivas.applymap('{:,.0f}'.format)
print(formato)

      TPopulation1July             PIB GDPpp2020  IMR  CBR
count              237             200       200  237  237
mean            33,650     739,488,446    23,169   17   18
std            135,946   2,745,408,927    23,917   17    9
min                  1          57,493       684    1    4
25%                405      21,400,472     5,068    5   10
50%              5,490      84,886,569    14,960   10   14
75%             22,125     436,404,094    34,164   24   23
max          1,425,887  27,574,143,101   134,754   72   45

/tmp/ipykernel_71314/3154763871.py:4: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  formato = descriptivas.applymap('{:,.0f}'.format)

In [46]:
# 14.4 Con la opción suma se puede calcular la población mundial al 1 de julio de 2022
poblacion_mundial=df['TPopulation1July'].sum()*1000
poblacion_mundial2 = '{:,.0f}'.format(poblacion_mundial)
print('La población mundial en 2022 era de',poblacion_mundial2, 'habitantes')

La población mundial en 2022 era de 7,975,105,152 habitantes

In [47]:
# 15. Descriptivas básicas por variable
df['TFR'].describe().round(1)

count    237.0
mean       2.4
std        1.2
min        0.8
25%        1.6
50%        2.0
75%        3.0
max        6.7
Name: TFR, dtype: float64

Hay 237 países con información de la tasa de fertilidad total.

---

El promedio de las tasas de fertilidad en el mundo es de aprox. 2.4 nacidos vivos por mujer y su desviación estándar es de aprox.1.2 nacidos vivos por mujer (la diferencia promedio de los países con respecto a la media global de 2.4 es 1.2 nacidos vivos).
Los valores mínimo y máximo de la tasa de fertilidad en el mundo son 0.8 y 6.7  nacidos vivos por mujer aprox., que corresponden a Hong Kong y Niger respectivamente.
El percentil 75 de la tasa de fertilidad total es aprox. 3 nacidos vivos por mujer, esto significa que el 75% de los países tienen una tasa de fertilidad total menor o igual a 3, o lo que es lo mismo, que el 25% de los países tienen una tasa de fertilidad superior a 3 nacidos vivos por mujer.

### **Ejercicio. Analizar las estadísticas descriptivas del ingreso per cápita en el mundo - año 2020**

In [53]:
# Solución:
(df['GDPpp2020']*1000).describe().round(1).apply('{:,.0f}'.format)

count            200
mean      23,168,638
std       23,917,155
min          683,594
25%        5,067,712
50%       14,959,762
75%       34,164,324
max      134,753,798
Name: GDPpp2020, dtype: object

Hay 200 países con información del ingreso per cápita en el mundo

---

El promedio de lo que le corresponde a cada persona en el mundo

### **Ejercicio 9:**<br>
Encuentre e interprete las estadísticas básicas de la fertilidad en el mundo

In [ ]:
# Solución:

### **Ejercicio 10:**<br>
Encuentre e interprete las estadísticas básicas de la tasa de mortalidad 'CDR' en Africa Subsahariana

In [ ]:
# Solución:

In [ ]:
# 16. Descriptivas específicas por variable. Las opciones:.count(), nunique(), .min(), .max(), .sum(), .mean(), .median, .mode(), .std(), .var(), .quantile()
df['GDPpp2020'].quantile(.05).round(1)

In [ ]:
# 17. Resumen estadístico de variables seleccionoadas del df
round(df[['CDR','CBR','IMR']].describe(),1)

### **Ejercicio 11:**<br>
Encuentre el total de nacimientos de latinoamérica y el caribe

In [ ]:
# Solución

### **Ejercicio 11.1:**<br>
Entre China y Latinoamérica, ¿en dónde hay mayor población?

In [ ]:
# Solución

### **Ejercicio 12:**<br>
Encuentre el pais de Europe & Central Asia con mayor ingreso per cápita

In [ ]:
#Solución

### **Ejercicio 13:**<br>
Encuentre las estadísticas descriptivas de las variables CDR, IMR y PopGrowthRate en Latinoamérica y el Caribe

In [ ]:
# Solución

In [ ]:
# 18. Agrupaciones (Tablas dinámicas)
df.groupby(['Continent','Region'])['TFR'].aggregate(['count','mean','std']).head(12).round(1)

In [ ]:
# 19. Tablas de contingencia
pd.crosstab(df["Continent"], df["IncomeGroup"],normalize=False)
#pd.crosstab(df["Continent"], df["IncomeGroup"],normalize=True)
#pd.crosstab(df["Continent"], df["IncomeGroup"],normalize='columns')
#pd.crosstab(df["Continent"], df["IncomeGroup"],normalize='index')*100

### **Ejercicio 14:**<br>
Hacer una tabla con las descriptivas básicas de la tasa cruda de nacimientos por región en África

In [ ]:
# Solución:

### **Ejercicio 15:**<br>

Diga cuál es el promedio del ingreso per cápita en Asia y compárelo con el promedio mundial

In [ ]:
#Solución:

### **Ejercicio 16:**<br>

Diga la región de Africa donde hay mayor variación en la tasa de nacimientos y señale el país que más aporta a esta variación.

In [ ]:
#Solución

#**Pasos con variables. Transformar - Recodificar**

In [ ]:
# 19.1 Para categorizar una variable cuantitativa
df['Fertilidad'] = pd.cut(df['TFR'], bins=[0, 1.571600, 2.003400, 2.979900,7], labels=['Baja', 'Media', 'Alta','Muy alta'])
pd.value_counts(df['Fertilidad'])

In [ ]:
# 19.2 Para recodificar los valores de una variable cualitativa
df['Continent'] = df['Continent'].replace({'Europe': 'Europa', 'America': 'Americano'})
pd.value_counts(df['Continent'])

Africa       62
Europa       60
Americano    54
Asia         41
Oceania      20
Name: Continent, dtype: int64

In [ ]:
df = df.set_index('Name').reset_index()

#***Pasos Visualización de datos***

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# 20. Hacer una gráfico de barras de una variable cualitativa ([:n] escoge cuantas modalidades incluir)
ax = df['Region'].value_counts()[:22].plot(kind='barh', figsize=(10,5), title="Numero de paises por región", color='thistle')
ax.set_xlabel("frecuencia");

In [ ]:
# 21. Hacer una gráfico de barras de una variable cualitativa ([:n] escoge cuantas modalidades incluir) (use figsize=(15,12) para full screen)
ax = df['Continent'].value_counts()[:5].plot(kind='barh', figsize=(10,5), title="Número de países por Continente",color='deepskyblue')
ax.set_xlabel("Frecuencia")
ax.set_ylabel("Continente");

In [ ]:
# 22. Hacer una gráfico de barras de una variable cualitativa ([:n] escoge cuantas modalidades incluir)
ax = df['Region'].value_counts()[:22].plot(kind='barh', figsize=(10,5), title="Numero de paises por región", color='coral')
ax.set_xlabel("frecuencia")

In [ ]:
# 23. Otra manera de hacer unas barras
import matplotlib.pyplot as plt
df.groupby('Continent')['Country'].nunique().plot(kind='barh', figsize=(10,5), color='plum')
plt.show()

### **Ejercicio 17:**<br>
Construir un gráfico de barras con el número de paises por nivel de ingreso per cápita

In [ ]:
# Solución:

In [ ]:
# Solución:

### **Ejercicio 18:**<br>
Construir un gráfico de barras con el promedio de la fertilidad por Continente

In [ ]:
# Solución:

### **Ejercicio 19:**<br>
Construir un gráfico de barras con el la desviación estándar del ingreso per cápita por región

In [ ]:
# Solución:

In [ ]:
# 24. Un grafico de barras bivariado
import matplotlib.pyplot as plt
df.groupby(['Continent','IncomeGroup']).size().unstack().plot(kind='bar',stacked=False, figsize=(15, 5))
plt.show()

In [ ]:
# 25. Un histograma básico
fig, ax = plt.subplots(figsize=(15,5))
plt.hist(df['GDPpp2020'], bins=10, color='blue',density=False);

### **Ejercicio 20:**<br>
Construir e interpretar un histograma de la fertilidad

In [ ]:
# Solución:
fig, ax = plt.subplots(figsize=(15,5))
plt.hist(df['TFR'], bins=10, color='violet');

### **Ejercicio 21:**<br>
Construir e interpretar un histograma de la esperanza de vida

In [ ]:
# Solución:

In [ ]:
# 26. Dos histogramas superpuestos
import seaborn as sns
import matplotlib.pyplot as plt
fig, ax = plt.subplots(figsize=(15,5))
sns.histplot( df["GDPpp2020"][df['Continent']=='Africa'] ,bins=7, color="yellow", label="Africa",kde=False)
sns.histplot( df["GDPpp2020"][df['Continent']=='Europa'] ,bins=7, color="blue", label="Europe",kde=False)
ax.set_xlabel("fertilidad")
plt.legend();

### **Ejercicio 22:**<br>
Comparar con dos histogramas superpuestos la fertilidad de Africa y la de Europe

In [ ]:
# Solución:

In [ ]:
# 27. Gráfico de dispersión con matplotlib
import numpy as np
import matplotlib.pyplot as plt
df.plot(kind='scatter',x='GDPpp2020',y='TFR',color='red', s=205, alpha=.3, figsize=(15, 5))
plt.show()

In [ ]:
# 28. Gráfico de dispersión con seaborn (se le puede agregar size='variable')
import seaborn as sns
fig, ax = plt.subplots(figsize=(15,7))
ax = sns.scatterplot(x='GDPpp2020', y="TFR", hue='Continent', s=300, data=df)

### **Ejercicio 23:**<br>
Interpretar un gráfico de dispersión entre el ingreso per cápita y la esperanza de vida

In [ ]:
# Solución
import numpy as np
import matplotlib.pyplot as plt
df.plot(kind='scatter',x='GDPpp2020',y='LEx',color='green', s=205, alpha=.3, figsize=(15, 5))
plt.show()

### **Ejercicio 24:**<br>
Interpretar un gráfico de dispersión entre la ingreso per cápita y la tasa de mortalidad infantil

In [ ]:
# Solución
import numpy as np
import matplotlib.pyplot as plt
df.plot(kind='scatter',x='GDPpp2020',y='IMR',color='blue', s=205, alpha=.3, figsize=(15, 5))
plt.show()

### **Ejercicio 25:**<br>
Interpretar un gráfico de dispersión entre la ingreso per cápita y la tasa de crecimiento de la población y marcar los puntos con el Continente.

In [ ]:
# Solución:
import seaborn as sns
fig, ax = plt.subplots(figsize=(15,7))
ax = sns.scatterplot(x='GDPpp2020', y="PopGrowthRate", hue='Continent', s=200, data=df)

In [ ]:
# 30. Stripplot
fig, ax = plt.subplots(figsize=(15,5))
m = sns.stripplot(x="Region", y="GDPpp2020", data=df, palette="Set3", s=10, ax=ax)
plt.xticks(rotation=90);
plt.title('Ingreso per cápita por región');

### **Ejercicio 26:**<br>
Interpretar un stripplot del nivel de ingreso per cápita y la fertilidad

In [ ]:
# Solución:

In [ ]:
# 31. Mapas de calor de variables cuantitativa
# Opciones para kind = “scatter” | “reg” | “resid” | “kde” | “hex”
sns.jointplot(x=df["GDPpp2020"], y=df["TFR"], kind='kde', color="olive", height=6).fig.set_figwidth(15)

### **Ejercicio 27:**<br>
Construir un mapa de calor de la esperanza de vida contra la tasa de mortalidad infantil

In [ ]:
# Solución:

In [ ]:
# 32. Grafica de caja y bigotes
fig, ax = plt.subplots(figsize=(15,5))
sns.boxplot(x="Continent", y="LEx", data=df, ax=ax);
plt.xticks(rotation=90);

### **Ejercicio 28:**<br>
Construir un boxplot de la fertilidad por Continente

In [ ]:
#Solución:

### **Ejercicio 29:**<br>
Construir un boxplot de la fertilidad por Continente y por nivel de ingreso per cápita

In [ ]:
# Solución:

In [ ]:
# 33. Tablas dinámicas (probar interpretación con media, suma, desviación)
tablapivote1=df.pivot_table(index='Region',columns='IncomeGroup',values='TFR',aggfunc='mean')
tablapivote1

### **Ejercicio 30:**<br>
Construir una tabla dinámica del promedio de la fertilidad por región y nivel de ingreso per cápita.

In [ ]:
# Solución

In [ ]:
# 34. Mapa de calor
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="whitegrid")
fig, ax = plt.subplots(figsize=(15,5))
sns.heatmap(tablapivote1, cmap="coolwarm", ax=ax);
ax.set_title('Mapa de calor del promedio de la fertilidad');

### **Ejercicio 31:**<br>
Construir un mapa de calor del promedio de la esperanza de vida por región y nivel de ingreso per cápita

In [ ]:
# Solución

In [ ]:
# 35.Gráfico de dispersión múltiple
import seaborn as sns
sns.pairplot(df, hue='Continent', x_vars=['GDPpp2020','TFR'], y_vars=['GDPpp2020','TFR'], plot_kws={'s':210},height=5, palette='bright');

### **Ejercicio 32:**<br>
Construir un gráfico de dispersión múltiple con las variables: GDPpp2020, TFR, LEx, IMR

In [ ]:
# Solución

In [ ]:
# 36. Un boxplot simple
fig, ax = plt.subplots(figsize=(15,5))
sns.boxplot(x="Births", y="Continent", data=df, ax=ax);
plt.xticks(rotation=90);

In [ ]:
# 38. Crear un data frame de manera manual
datos1 = [['maria', 21, 49], ['pao', 26, 52], ['juli', 24, 55], ['eliana',40, 60]]
  # Crear el df
df1 = pd.DataFrame(datos1, columns = ['nombre', 'edad','peso'])
df1

### **Ejercicio 33:**<br>
Convierta esta tabla en un dataframe de pandas

| sexo   | talla | peso |
|--------|-------|------|
| MUJER  | 159   | 49   |
| HOMBRE | 164   | 62   |
| MUJER  | 172   | 65   |
| MUJER  | 167   | 52   |
| MUJER  | 164   | 51   |
| MUJER  | 161   | 67   |
| MUJER  | 168   | 48   |
| HOMBRE | 181   | 74   |
| HOMBRE | 183   | 74   |
| MUJER  | 158   | 50   |
| MUJER  | 156   | 65   |
| HOMBRE | 173   | 64   |
| MUJER  | 158   | 43   |
| HOMBRE | 178   | 74   |

In [ ]:
# Solución:
gimnasio=[['MUJER',159,49],['HOMBRE',164,62],['MUJER',172,65],['MUJER',167,52],['MUJER',164,51],['MUJER',161,67],['MUJER',168,48],['HOMBRE',181,74],['HOMBRE',183,74],['MUJER',158,50],['MUJER',156,65],['HOMBRE',173,64],['MUJER',158,43],['HOMBRE',178,74]]
gym = pd.DataFrame(gimnasio, columns = ['sexo', 'talla','peso'])
gym

#***Correlación***

In [ ]:
corr = df['GDPpp2020'].corr(df['IMR'])
corr

-0.5969102377646225

#***Distribución binomial***

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

# Set the parameters for the binomial distribution
n = 10  # number of trials
p = 0.2  # probability of success

# Generate the probability mass function of the binomial distribution
x = np.arange(0, n+1)
pmf = np.zeros(n+1)
for i in range(n+1):
    pmf[i] = np.math.comb(n, i) * p**i * (1-p)**(n-i)

# Plot the probability mass function of the binomial distribution
fig, ax = plt.subplots(figsize=(15,5))
plt.stem(x, pmf, use_line_collection=True)

# Set the title and axis labels
plt.title(f'Binomial Distribution, n={n}, p={p}')
plt.xlabel('Number of successes')
plt.ylabel('Probability')

# Show the plot
plt.show()

In [ ]:
# Función de distribución binomial acumulada
from scipy.stats import binom
n = 10  # ensayos
p = 0.2  # probabilidad de exito
k = 6  # valor hasta el cual se acumula la distribución
cdf = binom.cdf(k, n, p)  # Función de distribución hasta k
print(cdf)

In [ ]:
from scipy.stats import poisson
k= 4 # valor hasta el cual se acumula
media=4
poisson.cdf(k,media)

0.6288369351798734

#***Distribuciones normales***

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
# Establecer la media y la desviación de la distribución
mu = 25  # media
sigma = 2  # desviación
fig, ax = plt.subplots(figsize=(15,5))
# Generar la función de densidad
x = np.linspace(mu - 4*sigma, mu + 4*sigma, 1000)
pdf = 1/(sigma * np.sqrt(2 * np.pi)) * np.exp(-(x - mu)**2 / (2 * sigma**2))
# Graficar la función de densidad
plt.plot(x, pdf, color='red', lw=2)
# Títulos
plt.title(f'Distribución normal, media={mu}, desviación={sigma}')
plt.xlabel('Variable X')
plt.ylabel('Densidad de probabilidad')

# Show the plot
plt.show;

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
# Media y desviación
mus = [50, 70]  # medias
sigmas = [5, 10]  # desviaciones
colors = ['red', 'blue']  # colores
# Fifura
fig, ax = plt.subplots(figsize=(15,5))
for mu, sigma, color in zip(mus, sigmas, colors):
    x = np.linspace(mu - 4*sigma, mu + 4*sigma, 1000)
    y = 1/(sigma * np.sqrt(2 * np.pi)) * np.exp(-(x - mu)**2 / (2 * sigma**2))
    ax.plot(x, y, color=color, label=f'media={mu}, desviación={sigma}')
# Título
ax.set_title('Dos distribuciones normales')
ax.legend()
# Gráfica
plt.show()

In [ ]:
#Normal inverse
from scipy.stats import norm
media=0
desviación=1
p = 0.975  # probabilidad
x = norm.ppf(p,media,desviación)  # inversa de la distribución normal en p
print(x)

In [ ]:
# Probabilidad
from scipy.stats import norm
x = 25  # Valor para encontar el percentil
media=25
desviación=2
p = norm.cdf(x,media,desviación)  # percentil de X en una distribución normal
print(p)

#***Seleccionar una muestra MAS***

In [ ]:
# Seleccionar una muestra aleatoria
df[['Country','GDPpp2020']].sample(n=3,random_state=1)

#***Prueba de diferencia de medias***

In [ ]:
df['Continent'].value_counts()

Africa       62
Europa       60
Americano    54
Asia         41
Oceania      20
Name: Continent, dtype: int64

In [ ]:
gdpAfrica=df['GDPpp2020'][df['Continent']=='Africa']
gdpAmerica=df['GDPpp2020'][df['Continent']=='Americano']

In [ ]:
gdpAfrica=gdpAfrica.dropna()
gdpAmerica=gdpAmerica.dropna()

In [ ]:
gdpAfrica.mean(),gdpAfrica.std()

(10099.071760006691, 16666.9680645212)

In [ ]:
gdpAmerica.mean(),gdpAmerica.std()

(23402.688660113323, 18147.55679879797)

In [ ]:
import numpy as np
from scipy.stats import ttest_ind


# Perform an independent t-test with equal variances and different sample sizes

t_stat, p_val = ttest_ind(gdpAfrica, gdpAmerica, equal_var=False)

# print the result
print("t-statistic:", t_stat)
print("p-value:", p_val)

t-statistic: -3.686529384431515
p-value: 0.00041460330995797735

#***Intervalo de confianza para la media***

In [ ]:
import numpy as np
import pandas as pd
from scipy import stats

# Caluclar la media muestral y la desviación estándar
sample_mean = np.mean(gdpAfrica)
sample_std = np.std(gdpAfrica, ddof=1)

# Fijar el nivel de confianza y calcular los grados de libertad
conf_level = 0.90
df = len(gdpAfrica) - 1

# Calcular el estadístico de prueba t y el margen de error
t_value = stats.t.ppf((1 + conf_level) / 2, df)
margin_of_error = t_value * (sample_std / np.sqrt(len(gdpAfrica)))

# Calcular el intervalo de confianza
limite_inferior = sample_mean - margin_of_error
limite_superior = sample_mean + margin_of_error

# Resultados
result = pd.Series([limite_inferior, limite_superior], index=['limite_inferior', 'limite_superior'])
print(f"El intervalo de confianza del {conf_level*100}% para la media poblacional es :\n{result}")

El intervalo de confianza del 90.0% para la media poblacional es :
limite_inferior     6439.869773
limite_superior    13758.273747
dtype: float64

#***Intervalo de confianza para la proporción***

In [ ]:
income=df['IncomeGroup']
n=len(income)
income
successes=income[income=='Low income'].count()
successes,n

(29, 237)

In [ ]:
from statsmodels.stats.proportion import proportions_ztest

# Definir la hipotesis nula de la proporción
null_prop = 0.05

# Calular la proporción muestral
sample_prop = successes / n

# Correr la prueba de hipótesis
stat, pval = proportions_ztest(successes, n, null_prop)

# REsultados del estadístico de prueba y el valor p
print(f"Z-score: {stat:.2f}")
print(f"P-value: {pval:.4f}")

Z-score: 3.40
P-value: 0.0007

In [ ]:
-Ayuda
Tabular una variable cualitativa X:
df['X’].value_counts(normalize=False)

Seleccionar solo las variables X, Y:
df[['X', 'Y']]

Filtrar cuando la variable X es x:
df[df['X']=='x']

Filtrar cuando la variable X=x & Y=y
df[(df['X']=='x') & (df['Y']='y') ]

Filtrar por texto be variable:
df[df['X'].str.contains('xxx')]

Ordenar por la variable X:
df.sort_values(by=['X'],ascending=True)

Bloquear por una o más condiones:
df.loc[(df['X'] == 'x') & (df['Y'] == 'y')]

Redondear decimales:
round(X,1)

Group by
df.groupby(['X','Y'])['Z'].aggregate(['count','mean','std’])

Crosstabulation
pd.crosstab(df['X'], df['Y'],normalize=False)

Crear una tabla dinámica
df.pivot_table(index='X',columns='Y',values='Z',aggfunc='mean')