In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
df = pd.read_csv('vehiculos.csv', delimiter=',', encoding='unicode_escape')

In [6]:
df.describe()

,Price,Year,Kilometer,Engine,Length,Width,Height,Seats,Tank
count,1874.000000,1874.000000,1.874000e+03,1874.000000,1874.000000,1874.000000,1874.000000,1874.000000,1874.000000
mean,17182.790368,2016.713447,5.317814e+04,1682.829242,4281.512807,1767.886339,1588.967983,5.295091,52.217343
std,24260.903507,3.138477,5.878833e+04,633.055721,436.220747,131.344883,134.627659,0.807008,15.167250
min,490.000000,1988.000000,0.000000e+00,624.000000,3099.000000,1475.000000,1213.000000,2.000000,15.000000
25%,5000.000000,2015.000000,2.801975e+04,1197.000000,3985.000000,1695.000000,1485.000000,5.000000,42.000000
50%,8424.995000,2017.000000,4.879750e+04,1497.000000,4360.000000,1770.000000,1544.000000,5.000000,50.000000
75%,19082.500000,2019.000000,7.100000e+04,1995.000000,4620.000000,1831.000000,1670.750000,5.000000,60.000000
max,350000.000000,2022.000000,2.000000e+06,6592.000000,5569.000000,2220.000000,1995.000000,8.000000,105.000000