# Quiz

In [1]:
import pandas as pd

In [28]:
df=pd.read_csv('CHC_base_anonimizada09-09-2021.csv', delimiter=',', encoding = 'unicode_escape' )
df

,DIRECTORIO,TIP_FOR,P1,P1S1,P2,P2S1,P5,CTL_1,P8R,P9,...,P35,P36R,P37S1,P37S2,P37S3,P37S4,P37S5,P37S6,P37S7,COMPLETA
0,1.0,2.0,85.0,85001.0,1.0,5.0,2.0,1.0,44.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,2.0,2.0,85.0,85001.0,1.0,5.0,2.0,1.0,33.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,3.0,2.0,85.0,85001.0,1.0,5.0,2.0,1.0,41.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,4.0,2.0,85.0,85001.0,1.0,5.0,2.0,1.0,29.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,5.0,2.0,85.0,85001.0,1.0,5.0,2.0,1.0,30.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6245,7645.0,2.0,76.0,76109.0,1.0,1.0,1.0,1.0,53.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
6246,7646.0,2.0,20.0,20001.0,1.0,1.0,1.0,1.0,57.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
6247,7647.0,2.0,76.0,76109.0,1.0,1.0,1.0,1.0,51.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
6248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
pd.crosstab(df['P9'], df['P30S3'],normalize=True).round(4)*100

P30S3    1.0    2.0
P9
1.0    41.18  47.60
2.0     4.06   7.15

In [49]:
df[(df['P9'] == 2) & (df['P30S3'] == 1)]['P8R'].mean()

33.79723502304147

In [70]:
print(df[(df['P9'] == 1)]['P8R'].median())

df[(df['P9'] == 2)]['P8R'].quantile(0.05)

39.0

18.0

In [80]:
print(df[(df['P9'] == 1)]['P22'].value_counts())

df[(df['P22'] == 9)]['P9'].value_counts(normalize=True)*100

P22
1.0     1636
7.0     1206
5.0      707
2.0      373
6.0      333
11.0     214
4.0      102
10.0      93
3.0       49
9.0       27
8.0        4
Name: count, dtype: int64

P9
1.0    93.103448
2.0     6.896552
Name: proportion, dtype: float64

In [94]:
df[(df['P9'] == 2) & (df['P27'] == 1)]['P8R'].mean()

(pd.crosstab(df['P9'], df['P27'],normalize=True).round(4)*100).rename_axis(index='Hombre o Mujer', columns='Leer y escribir')

Leer y escribir    1.0    2.0
Hombre o Mujer
1.0              74.23  14.55
2.0               8.88   2.34

In [104]:
pd.crosstab(df['P9'], df['P33S3'], normalize=True).rename_axis(index='Hombre/Mujer', columns='SÃ­/No')

df[(df['P33S3'] == 1)]['P9'].value_counts(normalize=True).round(3)*100

P9
1.0    89.7
2.0    10.3
Name: proportion, dtype: float64

In [121]:
df[(df['P30S1'] == 1)]

pregunta9 = pd.crosstab(df['P9'], df['P30S1']).to_numpy()
print('Mujeres', pregunta9[1,1] / pregunta9[1, 0])
print('Hombres', pregunta9[0, 0] / pregunta9[0, 1])
pd.crosstab(df['P9'], df['P30S1'])

Mujeres 1.0726643598615917
Hombres 1.154020899591095

P30S1   1.0   2.0
P9
1.0    2540  2201
2.0     289   310

In [129]:
df[(df['P30S1'] == 1) & (df['P9'] == 2)]['P8R'].median()

34.0

In [169]:
print('Habitantes de la calle que temen por su vida ordenado por sexo\n', df['P33_1'].value_counts(normalize=True).round(3)*100, end='\n\n')

print('Mujeres habitantes de calle que temen / no temen por su vida\n', df[(df['P9'] == 2)]['P33_1'].value_counts(), end='\n\n')

print('Mujeres que temen por su vida promedio\n', df[(df['P9'] == 2) & (df['P33_1'] == 1)]['P8R'].mean(), end='\n\n')

print('Hombres que temen por su vida promedio\n', df[(df['P9'] == 1) & (df['P33_1'] == 1)]['P8R'].mean(), end='\n\n')

print('Hombres que no temen por su vida promedio\n', df[(df['P9'] == 1) & (df['P33_1'] == 2)]['P8R'].mean(), end='\n\n')

print('Temen por su vida ordenador por sexo\n', df[(df['P33_1'] == 1)]['P9'].value_counts(normalize=True).round(3)*100, end='\n\n')

Habitantes de la calle que temen por su vida ordenado por sexo
 P33_1
2.0    53.9
1.0    46.1
Name: proportion, dtype: float64

Mujeres habitantes de calle que temen / no temen por su vida
 P33_1
1.0    326
2.0    273
Name: count, dtype: int64

Mujeres que temen por su vida promedio
 37.34662576687116

Hombres que temen por su vida promedio
 40.38231165184838

Hombres que no temen por su vida promedio
 42.86213517665131

Temen por su vida ordenador por sexo
 P9
1.0    86.8
2.0    13.2
Name: proportion, dtype: float64