# Quiz

In [2]:
import pandas as pd

In [3]:
df=pd.read_csv('CHC_base_anonimizada09-09-2021.csv', delimiter=',', encoding = 'unicode_escape' )
df

,DIRECTORIO,TIP_FOR,P1,P1S1,P2,P2S1,P5,CTL_1,P8R,P9,...,P35,P36R,P37S1,P37S2,P37S3,P37S4,P37S5,P37S6,P37S7,COMPLETA
0,1.0,2.0,85.0,85001.0,1.0,5.0,2.0,1.0,44.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
1,2.0,2.0,85.0,85001.0,1.0,5.0,2.0,1.0,33.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2,3.0,2.0,85.0,85001.0,1.0,5.0,2.0,1.0,41.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
3,4.0,2.0,85.0,85001.0,1.0,5.0,2.0,1.0,29.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
4,5.0,2.0,85.0,85001.0,1.0,5.0,2.0,1.0,30.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6245,7645.0,2.0,76.0,76109.0,1.0,1.0,1.0,1.0,53.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
6246,7646.0,2.0,20.0,20001.0,1.0,1.0,1.0,1.0,57.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
6247,7647.0,2.0,76.0,76109.0,1.0,1.0,1.0,1.0,51.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
6248,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Punto 1: Con respecto a la figura que muestra la distribución de las edades y sexos de los habitantes de calle es falso que:


![Texto](P1_1.png)


1. <span style="color:green"> Verdadero.</span> Aunque hay menos mujeres habitantes de calle, la distribución de sus edades es muy parecida.
2. <span style="color:green"> Verdadero. </span>  La figura es un diagrama de barras.
3. <span style="color:red"> Falso. </span> En la figura, el ancho de cada clase es de 10 años.
4. <span style="color:green"> Verdadero. </span> El rango de las edades de los habitantes de calle es de 60 años.
5. <span style="color:green"> Verdadero. </span> La menor frecuencia de habitantes de calle, tanto en hombre como en mujeres está entre los 65 y 75 años.


**En el intervalo de 40 a 50, se muestra que la barra tiene un ancho menor a 10 años, por lo tanto esta es la opción falsa.**

## Punto 2: Con respecto a los habitantes de calle que actualmente fuman cigarrillos es falso que

1. Aprox. el 53% de los habitantes de calle consumen actualmente cigarrillo
2. Hay mayor proporción de hombres habitantes de calle que actualmente fuman que de mujeres habitantes de calle que actualmente no lo hacen.
3. Hay mayor variabilidad en las edades de quienes si consumen cigarrillo en la actualidad que entre quienes no
4. En promedio, las edades de quienes si fuman cigarrillo se desvian aprox 13.5 años con respecto a su media que es aprox. 38.4 años.
5. La mitad de las mujeres habitantes de calle que si fuman tienen 34 años o menos

### 3) Hay mayor variabilidad en las edades de quienes si consumen cigarrillo en la actualidad que entre quienes no

**<span style="color:red;">Falso.</span> La variabilidad de los que sí consumen está dada por $13.54 $ y los que no consumen es $16.42$, es decir, es menor para los que sí consumen.**

In [9]:
df.groupby(['P30S1'])['P8R'].aggregate(['std'])

             std
P30S1
1.0    13.545572
2.0    16.422417

## Punto 3: Con respecto a la edad y el consumo de marihuana entre habitantes de calle hombres y mujeres es falso que:

1. Del total de habitantes de calle el 47.6% son hombre que fuman marihuana.
2. Hay 217 mujeres que actualmente consumen marihuana.
3. De los que fuman marihuana, aprox. el 91% son hombres.
4. De los hombres, aprox. el 46.4% actualmente fuma marihuana.
5. El promedio de edad de las mujeres que actualmente fuma marihuana es aprox. 33.8 años.

### 1) Del total de habitantes de calle el 47.6% son hombre que fuman marihuana.
**<span style="color:red"> Falso. </span> Según lo que se ve abajo, los habitantes de la calle hombres que fuman **

In [41]:
pd.crosstab(df['P9'], df['P30S3'],normalize=True).round(4)*100

P30S3    1.0    2.0
P9
1.0    41.18  47.60
2.0     4.06   7.15

In [21]:
df.groupby(['P9'])['P30S3'].aggregate(['count'])

     count
P9
1.0   4741
2.0    599

In [49]:
df[(df['P9'] == 2) & (df['P30S3'] == 1)]['P8R'].mean()

33.79723502304147

In [70]:
print(df[(df['P9'] == 1)]['P8R'].median())

df[(df['P9'] == 2)]['P8R'].quantile(0.05)

39.0

18.0

In [80]:
print(df[(df['P9'] == 1)]['P22'].value_counts())

df[(df['P22'] == 9)]['P9'].value_counts(normalize=True)*100

P22
1.0     1636
7.0     1206
5.0      707
2.0      373
6.0      333
11.0     214
4.0      102
10.0      93
3.0       49
9.0       27
8.0        4
Name: count, dtype: int64

P9
1.0    93.103448
2.0     6.896552
Name: proportion, dtype: float64

In [94]:
df[(df['P9'] == 2) & (df['P27'] == 1)]['P8R'].mean()    

(pd.crosstab(df['P9'], df['P27'],normalize=True).round(4)*100).rename_axis(index='Hombre o Mujer', columns='Leer y escribir')

Leer y escribir    1.0    2.0
Hombre o Mujer
1.0              74.23  14.55
2.0               8.88   2.34

In [104]:
pd.crosstab(df['P9'], df['P33S3'], normalize=True).rename_axis(index='Hombre/Mujer', columns='Sí/No')

df[(df['P33S3'] == 1)]['P9'].value_counts(normalize=True).round(3)*100

P9
1.0    89.7
2.0    10.3
Name: proportion, dtype: float64

In [24]:
df[(df['P30S1'] == 1)]

pregunta9 = pd.crosstab(df['P9'], df['P30S1']).to_numpy()
print('Hombres', pregunta9[0,0] / (pregunta9[0, 1] + pregunta9[0,0]))
print('Mujeres', pregunta9[1, 1] / (pregunta9[1, 1] + pregunta9[1,0]))
pd.crosstab(df['P9'], df['P30S1'])

Hombres 0.5357519510651761
Mujeres 0.5175292153589316

P30S1   1.0   2.0
P9
1.0    2540  2201
2.0     289   310

In [35]:
df.groupby(['P30S1'])['P8R'].aggregate(['std', 'median'])

df[(df['P9'] == 2) & (df['P30S1'] == 1)]['P8R'].median()

34.0

In [44]:
A = pd.crosstab(df['P9'], df['P33S3']).to_numpy()
print('Hombres', A[0,0] / (A[0, 0] + A[0, 1]))
print('Mujeres', A[1,0] / (A[1, 0] + A[1, 1]))
A

Hombres 0.2986711664205864
Mujeres 0.2704507512520868

array([[1416, 3325],
       [ 162,  437]])

In [47]:
pd.crosstab(df['P9'], df['P33S3'])

P33S3        1.0        2.0
P9
1.0    26.516854  62.265918
2.0     3.033708   8.183521

In [53]:
df.groupby(['P33S3', 'P9'])['P8R'].aggregate(['mean'])

                mean
P33S3 P9
1.0   1.0  37.110169
      2.0  36.049383
2.0   1.0  43.717895
      2.0  38.489703

In [48]:
df[(df['P9'] == 2)]['P33S3'].value_counts(normalize=True).round(3)*100

P33S3
2.0    73.0
1.0    27.0
Name: proportion, dtype: float64

In [129]:
df[(df['P30S1'] == 1) & (df['P9'] == 2)]['P8R'].median()

34.0

In [169]:
print('Habitantes de la calle que temen por su vida ordenado por sexo\n', df['P33_1'].value_counts(normalize=True).round(3)*100, end='\n\n')

print('Mujeres habitantes de calle que temen / no temen por su vida\n', df[(df['P9'] == 2)]['P33_1'].value_counts(), end='\n\n')

print('Mujeres que temen por su vida promedio\n', df[(df['P9'] == 2) & (df['P33_1'] == 1)]['P8R'].mean(), end='\n\n')

print('Hombres que temen por su vida promedio\n', df[(df['P9'] == 1) & (df['P33_1'] == 1)]['P8R'].mean(), end='\n\n')

print('Hombres que no temen por su vida promedio\n', df[(df['P9'] == 1) & (df['P33_1'] == 2)]['P8R'].mean(), end='\n\n')

print('Temen por su vida ordenador por sexo\n', df[(df['P33_1'] == 1)]['P9'].value_counts(normalize=True).round(3)*100, end='\n\n')

Habitantes de la calle que temen por su vida ordenado por sexo
 P33_1
2.0    53.9
1.0    46.1
Name: proportion, dtype: float64

Mujeres habitantes de calle que temen / no temen por su vida
 P33_1
1.0    326
2.0    273
Name: count, dtype: int64

Mujeres que temen por su vida promedio
 37.34662576687116

Hombres que temen por su vida promedio
 40.38231165184838

Hombres que no temen por su vida promedio
 42.86213517665131

Temen por su vida ordenador por sexo
 P9
1.0    86.8
2.0    13.2
Name: proportion, dtype: float64

In [84]:
df.groupby(['P9'])['P8R'].aggregate(['mean', 'std', lambda x: x.quantile(0.99), 'median'])

          mean        std  <lambda_0>  median
P9
1.0  41.727445  15.338878        75.0    39.0
2.0  37.829716  14.446570        75.0    36.0

In [172]:
df['P8R'].max() - df['P8R'].min()

60.0